/* Establece la velocidad de escritura */

.escribiendo {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  animation: typing 5s steps(60) infinite;
}

  .boton-animacion{
    transform-origin: center; /* Especifica el punto de origen para la transformación */
    animation: pulse-grow-animation 2s infinite; /* Agregamos la animación al botón */
}
.boton-temblar{
    animation: shake 1.5s;
    animation-iteration-count: infinite;
   
}
.zoom-in{
    animation-name: agrandar;
    
    animation-duration: 1.2s;
    
}
.zoom-in:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}
.fade-in {
    opacity: 0;
    transition: opacity 1s;
}

.fade-in.is-visible {
    opacity: 1;
}


@media screen and (max-width: 500px) {
  .escribiendo {
    animation: typing2 5s steps(60) infinite;
  }
}
@keyframes typing {
  0% { width: 0; }
  100% { width: 100%; }
}
@keyframes typing2 {
  0% { width: 0; }
  70% { width: 100%; }
  100% { width: 100%; }
}
  /* Define la animación */
  @keyframes animacion {
    from {
      width: 0px
    }
    to {
        width: 100%;
    }
  }
      
  @keyframes pulse-grow-animation {
    0%, 100% {
      transform: scale(1); /* Tamaño original del botón al inicio y final de la animación */
    }
    50% {
      transform: scale(1.1); /* Hace que el botón crezca al 110% de su tamaño original en el medio de la animación */
    }
  }
  @keyframes shake {
    0%, 50% { transform: rotate(0deg); transform-origin: 50% 100%; }
  5% { transform: rotate(2deg); }
  10%, 20%, 30% { transform: rotate(-4deg); }
  15%, 25%, 35% { transform: rotate(4deg); }
  40% { transform: rotate(-2deg); }
  45% { transform: rotate(2deg); }
}
  
@keyframes agrandar {
    0%{
        transform: scale(0);
    }
   
    100%{
        transform: scale(1);
    }
}
